*{
	
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
	
}
html{
	scroll-behavior: smooth;
	overflow-x: hidden;	
}
body{
	background-color: #edf0f4;
}
header{
	background-image:linear-gradient(rgba(0, 0, 0, 0.66),rgba(0, 0, 0, 0.20)),  url(img/wall1.jpg);
	
	background-attachment: fixed;
	min-height: 500px; 
	 
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size:cover;
}
.FPS{
	position: absolute;
    
	top: 83.8511490898%;
	left: 29.3511490898%;
	font-family: 'Caveat Brush', cursive;
	color: white;
	letter-spacing: 20%;
	font-size: 60px;
}
.ieeeheading{
	color: white;
	font-size: 52px;
	/*width: 980px;*/
	position: absolute;
	left: 21.5%;
		
	top: 60%;
	display: flex;
	flex-wrap: wrap;
	
	margin-right: 80px;
	margin-left: 0px;

}
.ieeelogos{
	display: flex; 
	
}
.nayalogo{
	position: absolute;
	top: 11%;
	left: 4%;
	height: 15%;
	widows: 15%;
	align-self: flex-start;
	
}
.itslogo{
	border-radius: 50%;
}
.ieeelogo{
	border-radius: 30px 4px 30px 4px;
	opacity: 1;
	align-self: flex-end;
	position: absolute;
	top: 13%;
	left:83%;
	height: 90px;
	width: 212px;
	
}

.upcomevents{
	
	padding-top: 100px;
	padding-bottom: 1%;
	text-align: center;
	color: #5d5d5d;
	font-size: 330%;	
	margin-top: 14%;
}

.logonhead{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute ;
	top: 39%;	
	
}
.join{
	padding-bottom: 8%;
	font-size: 25px;
	}
.join9{
	padding-bottom: 8%;
	font-size: 25px;
	margin-left: 2%;
	}
.join9:link , .join9:visited {
  color: darkorange;
  background-color: transparent;
  text-decoration: none;
}
.join9:hover {
  color: cornflowerblue;
  background-color: transparent;
  text-decoration: underline;
}
.ieeeben{
	display: flex;
	margin-top: 10.9%;
	margin-bottom: -7%;
}
.benalag{
	line-height: 180%;
}

.ieeetag{
	height: 180px;
	width: 420px;
	
}
.ieeetag9{
	height: 180px;
	width: 340px;
	
}

.bena{
	padding-left: 5%;
}
.bena li{
	
	line-height: 250%;
	font-size: 120%;	
	
}


.join:link , .join:visited {
	
  color: darkorange;
  background-color: transparent;
  text-decoration: none;
}

.join:hover {
  color: cornflowerblue;
  background-color: transparent;
  text-decoration: underline;
}
.logonhead{
	width: 100%;
	height: 100px;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	display: flex;
	position: absolute ;
	top: 39%;	
	

}
.cu{margin-right: 00px;
	margin-left: 100px;

}
.buttonsflex{
	left: 32.5%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 60%;
}
.cslogo{
	left: 34%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 60%;
}
.ielogo{
	
	height: 70px;
	width: 70px;
	margin: 0px 25px 0px 100px;
	border-radius: 50%;
	
}


.navbar {
	
	border-radius: 0px 0px 7px 7px;
    overflow: hidden;
    background-color: rgba(255, 120, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
	background-color: black;
	z-index: 5;
	opacity: 0.83;
	height: 60px;

	
}

.navbar a {
	text-decoration: none;
	
	  float: right;

	  display: block;
	  color: rgba(255, 255, 255, 0.83);
	  text-align: center;
	  padding: 16px 28px;
	  text-decoration: none;
	  font-size: 22px;
	  position: relative;
	  right: 21.89%;
	
}

.navbar a:hover {
  background: #ff7800;
  color: black;
}

.navbar9 {
	border-radius: 0px 0px 7px 7px;
    overflow: hidden;
    background-color: rgba(255, 120, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
	background-color: black;
	z-index: 5;
	opacity: 0.83;
	height: 60px;
    text-align: center;
}
.navbar9 a {
	text-decoration: none;
	float: right;
	display: block;
	color: rgba(255, 255, 255, 0.83);
	text-align: center;
	padding: 16px 28px;
	text-decoration: none;
	font-size: 22px;
	position: relative;
	right: 30%;
}
.navbar9 a:hover {
  	background: #ff7800;
  	color: black;
}

/* Buttons */

/* 
.cu{
	position: absolute;
	top: 59%;
	left: 48%;
	
	
	
}
.ue{
	position: absolute;
	top: 59%;
	left: 33%;
	
	
	
} */


.btn:visited,
.btn:link{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 400;
	text-decoration: none;
	border-radius: 200px;
	transition: color 0.2s,border 0.2s,background-color 0.2s;
	
}
.btn-full:visited,
.btn-full:link{
	
	color:  #ff7700;
    border: 2px solid rgb(255, 125, 10);
	font-weight: 700;
}

.btn-ghost:visited,
.btn-ghost:link{
	color: #ff7700;
	border: 2px solid rgb(255, 125, 10);
	font-weight: 700;
}
.btn-full{
	margin-right: 20px;
}

.btn:active,
.btn:hover{
	
	background-color: #cf6d17;
	color: whitesmoke;
}
.btn-full:active,
.btn-full:hover{
	border color: #cf6d17;
}
.btn-ghost:active,
.btn-ghost:hover{
	color: #fff;
	border color: #cf6d17;
}

.top1{
	padding-top: 5%;
	margin-bottom: -40%;
	margin-top: -200%;
}
/*buttons over */

/* boxes */

.containeri{
	display: flex;
	padding-top: 10px;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 5px;
}

.smallbox{
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 25px;
	left: 30%;
	margin: 4px;
	align-content: center;
	align-items: flex-start;
	border-radius: 10px;
	height: 450px;
	width: 350px;
	overflow: hidden;
	border: soli  0.9px;
	border-color:coral;
	
	
}
.bold{
	text-align: center;
	position: relative;
	
	padding-top: 23px;
	font-size: 25px;
	
}
.sometext{
	
	
	text-align: center;
	position: relative;
	font-size: 20px;
	top: 10px;
	text-align: justify;
	

}
.bmsitlogo{
	flex-shrink: 2;
	padding-top: 15px;
	height: 92px;
	width: 95px;
	align-self: center;
	
	
}

.othertext{
	padding-top: 30px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;	
	height: 300px;
	width: 360px;
	margin: 4px;
	text-align: justify;
	
}
.something{
	font-size: 25px;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 10px;

} 

.newicon{
	
	
	height: 91px;
	width: 89px;
	align-self: center;
	
	
}
.sometexts{
	text-align: center;
	font-size: 20px;
	text-align:justify;
}

.smallbox2{
	padding-top: 30px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;	
	height: 350px;
	width: 320px;
	
	
	
	
}

.logo{
	
	
	height: 89px;
	width: 89px;
	align-self: center;
	
	
}
.bold2{
	font-size: 25px;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 10px;
}

.somemoretext{
	text-align: center;
	font-size: 20px;
	text-align: justify;
}


.ocean { 
	
	
  
  width:100%;
  position:absolute;
  bottom: 0;
  left:0;
  background: #e67e22;
}

.wave {
  background: url(img/wave.svg) repeat-x; 
  position: absolute;
  top: -200px;
  width: 5000px;
  height: 225px;
  animation: wave 6.7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}


.wavey{

	overflow-y: hidden;
	overflow-x: hidden;
	height: 220px;
	position: relative;
	top: 200px;
	padding-bottom: 10px;
	
}

.dropbtn{
	display: none;
	
}
.dropdown{
	display: none;
	z-index: 6;
}


/* ss */


.mobnav{
	display: none;
}
@media only screen and (max-width: 700px) {
    .ieeeben{
        display: flex;
        flex-direction: column-reverse;
        margin: 4px;
		text-align: justify;
    }
    .bena{
        font-size: 85%;
    }
    .ieeetag{
        overflow-x: hidden;
		width: 100%;
		margin: 0px;
    }
    
    .pastevntsh2{
        font-size: 19px;
        display: none;
    }
	

	.navbar{
		
		display: none;
	}
	
	.ieeelogo{
		left: 57%;
		height: 20%;
		width: 36%;
		
	}
	

	
	.dropbtn {
		position: fixed;
		display: block;
		width: 100%;
        background-color: #ff8000;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
}

.dropdown {
	width: 100%;
    position: fixed;
	display: block;
  
}


.dropdown-content {
	height: auto;
	display: none;
  width: 100%;
  position: fixed;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: blue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

	.dropbtn:hover .dropdown-content{
		display: block;
	}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	
	}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ff6a27;
}
	.chota{
	width:100%;
	height: 50px;
	background-color: #000000;
	}
	.chota a{
		color: #000000;
	}	
	.chota a:hover {
	background-color: #000000;
	}
	.chota:hover{
		display: block;
	}
	
}
 
/* about us ---------------------------------------------------------------- */		







.top1{ 
	
	justify-content: center;
    align-content: center;
	text-align: center;
	font-size: 210%;
	padding-top: 50px;
	margin-bottom: 2%;
	margin-top: 0px;
	color: #5d5d5d;
	
	font-weight: bold;
}

.content1{
	
	width: 45%;
	padding-top:5%;
	height: 15%;
    background-color: #141A24 ;
	color: darkorange;
	align-content: center;
	justify-content: center;
	line-height: 230%;
	font-size:150%;

}



/* sss awards---------------------------------------------------------------------- */


.award{
	
	width: 100%;
	height: 84vh;
	overflow: hidden;
	background: #FF4C0F;
    background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
	flex-flow: row wrap;
	margin-bottom: 5%;
	border-bottom: 5px solid black;
}




.top{
	border-top: 5px solid black;
	text-align: center;
	padding: 5% 0% 6% -2%;
	color: #5d5d5d;
	font-size: 190%;
}
.content{
	
	width: 40%;
	height: 80vh;
    background-color: #FF4C0F ;
	color:#141A24 ;
	text-align: center;
	line-height: 150%;
	font-size:200%;

}

.COA{

	text-decoration: underline;
	line-height: 110%;
	
}

.pics2, .pics1{	
	overflow: hidden;
    width: 45%;
	
}

/*footer------------------------------------------------------------------------------------- */
a:link , a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.container{
	min-height: 100%;
	
}

.main{
	
	overflow: auto;
	padding: 100px;
}

.footer-main-div{
	
	
	background-image: linear-gradient(rgba(0,0,0,0.88),rgba(0,0,0,0.56)) , url(img/backimg.jpg);
	overflow: hidden;
	width: 100%;
	height: 500px;
	justify-content: center;
	background-color: #141A24;
	padding: 0px 0px;
	position:relative;
	background-size:cover;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: -100px;
}


.links {
	
	position: absolute;
	top: 60%;
	left: 9%;
	width: 80%;
	margin: 1%;
	justify-content: center;
	align-content: center;
	text-align: center;
	font-family: lato;
	

		
}

.links {
	
	text-decoration: none;
	word-spacing:35px;
}

.social-media{
	position: absolute;
	justify-content: center;
	align-content: center;
	width: 500px;
	line-height: 100px;
	top: 70%;
	left: 44%;
	height: 100px;
}

.social-media a{
	display: inline-flex;
	width: 10%;
	height: 50%;
	background: black;
	color: white;
	margin: 0px 6px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	font-size: 22px;
}

.social-media a:hover{
	text-decoration: none;
	font-size: 2.1rem;
}


.social-media a i{
	transition: 0.1s all;	
}


.footer-menu-one{
	color: #fff;
	padding-left: 7%;
	line-height: 30px;
	font-family: lato;
	box-sizing: border-box;
	width: 36%;
	font-size: 100%;
	font-weight: 100;
	margin: 20px 0px;
	justify-content: center;
}

.footer-menu-two{
	color: #fff;
	width: 26%;
	position: absolute;
	height: 47%;
	left: 42%;
	line-height:265% ;
	font-family: lato;
	font-size: 100%;
	font-weight: 100;
	margin: -230px 0px;
	justify-content: center;
}

.footer-menu-three{
	
	color: white;
	width: 20%;
	height: 40%;
	position: absolute;
	left: 74%;
    padding-right: 0px;
	line-height: 30px;
	font-family: lato;
	font-size: 100%;
	font-weight: 20;
	margin: -240px 0px;
	justify-content: center;
	top: 62.25%;
}


.contactus{
	padding-bottom:  8%;
	margin-bottom: -20px;

	font-size: 180%;	
	
}

/* comm members pages -------------------------------------------------------------- */

.mot{
	text-align: center;
	padding-top: 5%;
	color: #5d5d5d;
	font-size: 200%;
	font-weight: bold;
}


.motin a i{
	transition: 0.4s all;	
}

.motin a:hover i{
	
	transform: scale(1.6) rotate(25deg); 
}

.motin{
	position: relative;
	top: -55%;
	z-index: -1;
	color: grey;
}



.downcommember,.upcommember{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}
.downcommember{
	padding: 6%;
	padding-bottom: 5%;
	display: flex;
	justify-content: space-around;
}
.upcommember{
	
	padding-top: 3%;
	display: flex;
	justify-content: space-around;
	font-size: 4px;
}
/*
.pranavcard,.swaticard,.anjancard{
	display: flex;
	text-align: center;
	
	height: 250px;
	width: 250px;

	flex-direction: column;
	
	
}*/

.upimg:hover , .downimg:hover {
	opacity: .25;
}

.hoverman{
	display: block;
	z-index: -1;
	position: relative;
	
	top: -55%;
	
}
/*
.hovergautamtxt{
	text-align:center;
	margin-left:-10%;
}
.hoveranajantxt{
	position: relative;
	top: -80%;
}
.hoverpranavtxt{
	position: relative;
	top: -65%;	
} */

.upimg:hover .hoverman{
	z-index: 7;
	
	position: relative;
	
	font-size: 40px;
	
}



.deepaimg,.gautamimg,.anjanimg{
	border-radius: 48%;

	height: 220px;
	width: 200px;
}

.ucard{
	display: flex;
	text-align: center;
	
	height: 250px;
	
    
	flex-direction: column;
	
}
.dcard{
	
display: flex;
	text-align: center;
	
	height: 250px;
    
	flex-direction: column;
	
}


.downimg{
	border-radius: 48%;
	height: 180px;
	width: 180px;
}

.madeby{

	font-size: 80%;
	align-content: center;
	justify-content: center;
	
	position: absolute;
	color: white;
	left: 35%;
	top: 89.9% ;
	font-size: 80%;
	

	
}

.hoveranajantxt,.hoverpranavtxt,.hoverdeepatxt,.hovergautamtxt{
	
	padding-bottom: -17%;
}


.pasteve{
	color: #5d5d5d;
	font-size: 330%;

}




/*---------------------footer mobile view--------------------

@media only screen and (max-width: 740px){
	
	
}


@media screen and (max-width: 900px) and (min-width: 415px){

	.footer-main-div, .links,.social-media, .footer-menu-one, .footer-menu-two, .footer-menu-three, .footer-copyright { 
		width: 45%;
		margin: 4%;
		display: inline-block;
		height: 150px;
	}
	
	
}
*/
.award{
	
	width: 100%;
	height: 84vh;
	overflow: hidden;
	background: #FF4C0F;
    background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-flow: row wrap;
	margin-bottom: 5%;
}


/*
.top{ 
	
	justify-content: center;
    align-content: center;
	font-family: lato;
	font-size: 200%;
	padding-left: 26%;
	margin-top: 8%;
	margin-bottom: 8%;
	padding-top: 1%;
	color: #5d5d5d;
	letter-spacing: 5%;
	
}
*/
/*
.content{
	
	
    background-color: #FF4C0F ;
	color:#141A24 ;
	text-align: center;
	/*line-height: 150%; 
	font-size:200%;

} */



.pics2 , .pics1{	

	overflow: hidden;
	width: 45%;
  } 

.content{
	
	width: 40%;
	padding-top:6%;
	margin-top: 5%;
    background-color: #FF4C0F ;
	color:#141A24 ;
	text-align: center;
	line-height: 150%;
	font-size:200%;

}

.about{
	
	width: 100%;
	height: 100vh;
	background: #141A24;
    background-size: cover;
	display: flex;
	flex-direction: row;
	
	justify-content: space-around;
	flex-flow: row wrap;
	
}
.content1{
	
	width: 45%;
	padding-top:10%;
	height: 15%;
    background-color: #141A24 ;
	color: darkorange;
	align-content: center;
	justify-content: center;
	line-height: 180%;
	text-align: center;
	font-size:1.2rem;

}


.pics1{	
	height: 300px;
	width: 600px;
	position: relative;
	top: 17%;
	width: 45%;
	
	}




.deepaimg,.gautamimg,.anjanimg{
	border-radius: 48%;

	height: 220px;
	width: 200px;
}

.ucard{
	display: flex;
	text-align: center;
	
	height: 250px;
	
/*	width: 20%; */
    
	flex-direction: column;
	
}
.dcard{
	
display: flex;
	text-align: center;
	
	height: 250px;
/*	width: 20%; */    
	flex-direction: column;
	
}


.downimg{
	border-radius: 48%;
	height: 180px;
	width: 180px;
}



.hoveranajantxt,.hoverpranavtxt,.hoverdeepatxt,.hovergautamtxt{
	
	padding-bottom: -17%;
}


.pasteve{
	text-align: center;
	padding-top: 2.511490898%;
	padding-bottom: 1%;
	color: #5d5d5d;
	font-size: 330%;

}




/* gaurav */



.all{
	display: inline-block;
	border: none;
	width: 100%;
}

.oo, .tt, .th, .f, .ff{
	width: 100%;
	height: 100%; 	
}



.one, .two, .three{
  	width: 20%;	
  	height: 420px;
  	perspective: 1000px;
  	display: inline-grid;
	margin: 6%;
	margin-bottom: 3.5%;
}

.one1, .two1, .three1{
	
	padding: auto;
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	
}

.one1:hover, .two1:hover, .three1:hover{
	transform: scale(1.1);
	transition: transform 0.2s;
}
 
.t:hover, .o:hover{
	transform: scale(1.3);
	transition: transform 0.3s;
}
.four{
	display: none;
	border: none;
	perspective: 1000px;
}

.five {
	display: none;
	perspective: 1000px;

}

.flip {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: none;
}

.one:hover .flip {
  transform: rotateY(180deg);
}

.two:hover .flip {
  transform: rotateY(180deg);
}

.three:hover .flip {
  transform: rotateY(180deg);
}

.four:hover .flip {
  transform: rotateY(180deg);
}

.five:hover .flip {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0%;
  backface-visibility: hidden;
}

.back1, .back2 ,.back3{
	padding-top: 30%;
	text-align: center;
	font-family: lato;
	font-size: 21px;
	
}

.front {
  background-color: #bbb;
  color: black;
}

.back {
  background-color: rgba(255, 120, 0, 0.8);
	
  color: white;
  transform: rotateY(180deg);
}

a.gaurav{
	text-decoration: none;
	color: #333;
}
.t, .o{
	border: none;
	font-size: 40px;
	position: absolute;
	background: none;
}

.t{
	left: 1.5%;
	margin-top: 20%;
}

.o{
	margin-top: 20%;
	right: 1.5%;
}

@media screen and (max-width: 414px){
	
	.one, .two, .three{
		width: 70%;
		margin-right: 15%;
		margin-left: 15%;
		padding: 0%;
		display: inline-block;
		height: 350px;
	}

	h2{
		display: block;
	}
	.t,.o{
		font-size: 20px;
		margin-top: 18%;
	}
}

@media screen and (max-width: 900px) and (min-width: 415px){

	.one, .two{ 
		width: 35%;
		margin: 7.2%;
		display: inline-block;
        justify-content: center;
        align-content: center;
	}

	.three{
		width: 36%;
		margin-left: 32%;
		margin-right: 32%;
	}

	h2{
		display: block;
	}
	
	.all{
		display: flex;	
		flex-direction: column;
		justify-content: center;
		margin-top: 15%;
		width: 10px;
		margin-left: 0%;
		margin-right: 0%;
	}
    
    div.all{
        margin-left: 0%;
		margin-right: 0%;
		margin-top: 25%;
    }
   
	.pasteve{
		font-size: 10px;
		margin-top: 35%;
		margin-bottom: 5%;
		width: 50px;
	}
	
	.oo, .tt, .th, .f, .ff{
	width: 100%;
	height: 100%; 	
}
	.t,.o{
		font-size: 20px;
		margin-top: 18%;
	}
}
/*
.pasteve{
	position:relative;
	left:34%;
	font-size: 68px;
	padding-bottom: 5%;
	padding-top: 5%;
	color: #5d5d5d;
} */











@media  screen and (max-device-width: 740px) {
	
	.cslogo{
		position: relative;
		width: 200px;
		height: 110px;
		left:1%;
		top: 60%;
	}
	
	.footer-main-div, .links, .social-media, .footer-menu-one, .footer-menu-two, .footer-menu-three, .footer-copyright {
		display: flex;
		z-index: 100;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		margin: 4%;
        margin-left: 0%;
		margin-right: 0%;
		margin-bottom: 0px;
		display: inline-block;
		height: 250px;
	}
	
	.footer-menu-one, .footer-menu-two, .madeby, .ieeelogo, div.main{
		display: none;
	}
	
	.links{
		display: flex;
		justify-content: space-around;
		position: relative;
		top:-20%;
		left: 15%;
		width: 250px;
		height: 30px;
		font-family: lato;
		font-size: 12px;
	}
	
	.social-media{
		position: absolute;
		width: 170px;
		height: 30px;
		top: 11%;
		left: 32%;
	}
	
	.social-media a{
	display: inline-flex;
	width: 20%;
	height: 110%;
	background: black;
	color: white;
	margin: 0px 1px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	font-size: 18px;
}


.social-media a i{
	transition: 0.3s all;	
}

.social-media a:hover >i{
	
	transform: scale(1.6) rotate(22deg); 
}
	
	.footer-menu-three{
		position: absolute;
		top: 52%;
		left: 22%;
		width: 190px;
		height: 85px;
		line-height: 26px;
		align-content: center;
		text-align: center;
		font-size: 11px;
		margin: 2px;
	}

    .navbar{
		
		display: none;
		opacity: 1;
	}
	.FPS{
		margin-top: -32%;
		font-size: 55px;
	}
	
	.ieeelogo{
		left: 60%;
		height: 20%;
		width: 36%;
	}
	

	
.dropbtn {
	
		position: fixed;
		display: block;
		width: 100%;
        background-color: #ff8000;
        color: white;
        /*padding: 16px; */
        font-size: 16px;
        border: none;
        cursor: pointer;
}

.dropdown {
	width: 100%;
    position: fixed;
	display: block;
  
}

.dropdown-content {
	height: auto;
	display: none;
    width: 100%;
    position: fixed;
    background-color: #000000;
    /*min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content a {
  color: orange;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

	.dropbtn:hover .dropdown-content{
		display: block;
	}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	
	}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ff6a27;
}
	.buttonsflex{
		display: none;
	}
	.footer-main-div{
		
	}
	.wavey{
		display: none;
	}
	.ieeelogo{
		width: 45%;
		padding-right: 4%;
		height: 20%;
		
	}
	
	.ucard{
		margin-bottom: 7%;
	}
	
.top{
		text-align: center;
	padding: 3% 0% 3% 0%;
	color: #5d5d5d;
	font-size: 20px;

}
.content{
	
	width: 100%;
    background-color: #FF4C0F ;
	color:#141A24 ;
	text-align: center;
	/*line-height: 150%; */
	font-size:170%;
	height: 400px;

}
	
	.content1{
		height: 200px;
		font-size: 200px;
		width: 20%;
		padding: 3%;
	}
	
	
	#contact{
		font-size: 45px;
		line-height: 55px;
		margin-top: 15%;
	}
.COASUB {
	text-align: justify !important;
}
	
.COA{
	position: relative;
	line-height: 170%;
	text-align: center;
	align-content: center;	
	left: 19px;
	padding: 0px;
    font-size: 40px;
	margin-top: 20%;
	padding-top: 12%;
	margin: 3%;
	width: 300px;
	
}
.COA1{
	position: relative;
	line-height: 170%;
	text-align: justify;
	align-content: center;	
	left: 19px;
	padding: 0px;
    font-size: 30px;
	margin-top: 20%;
	padding-top: 12%;
	margin: 3%;
	width: 300px;
	
}

.pics2, .pics1{	

	width: 100%;
	height: 100%;
	overflow: hidden;
    
	
}
	
.about{

	height: auto;
	background: #141A24;
    background-size: cover;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	
	
}
	

.award{
	height:auto;
	background: #141A24;
    background-size: cover;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}

	
.content1{
	
	padding: 4px; 
	padding-top:7%;
	width: 100%;
	height: 200px;
	background-color: #141A24 ;
	color: darkorange;
	align-content: center;
	justify-content: center;
	line-height: 180%;
	text-align: center;
	font-size:150%;

}
	
.top1{
	border: 1px solid black;
		font-weight: bold;
	    font-size: 20px;
		height: 100px;
		margin-left: 0%;
		padding: 0%;
		margin-top: 8%;
}
	
	
	.pasteve{
		font-size: 40px;
		padding: 0%;
		margin-top: 8%;
		margin-bottom: 2%;
	}
	


	
	.ieeelogo{
	margin: -20px;
	padding: -20px;
}
 
.upcomevents{
    margin-bottom: 6%;
    margin-top: -5%;
	font-size: 40px;
}

.nayalogo{
	width: 90px;
	height: 90px;
}
.ieeeheading{
	font-size: 35px;
	margin: 0px;
	width: 340px;
	text-align: center;
	top: 65%;
	padding: 0px;
}
	.logonhead{
		display: flex;
		align-items: center;
		width: 50px;
		top: 30%;
	}
	
	.othertext{
		margin-bottom: 20%;
		margin-top: -29%;
		
	}


}

.bena9{
	list-style-type: none;
}
.bena9 li{
	margin: 2%;
	border: none;
	border-width: 2px;
	border-color: #eef;
	padding: 2%;
	background-color: gainsboro;
}
.bena9 p{
	float: right;
}
@media screen and (max-width: 430px)
{
	.bena9 li{
		padding: 8%;
		line-height: 1.5;
	}
	
	.bena9{
		padding-left: 1%;
	}
}

/* chapter comm members pages -------------------------------------------------------------- */
.mot9{
	text-align: center;
	padding-top: 5%;
	color: #5d5d5d;
	font-size: 330%;
}
.motin9:hover{
	background: #FF4C0F;	
}
.motin9 a i{
	transition: 0.4s all;	
}
.motin9 a:hover i{	
	transform: scale(1.6) rotate(25deg); 
}
.motin9{
	position: relative;
	top: -55%;
	z-index: -1;
	color: grey;
}
.downcommember9,.upcommember9{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.downcommember9{
	padding-bottom: 15%;
	padding-left: 15%;
	padding-right: 15%;
	display: flex;
	justify-content: space-around;
}
.upcommember9{
	padding-top: 3%;
	padding-left: 15%;
	padding-right: 15%;	
	display: flex;
	justify-content:center;
}
.upimg9:hover , .downimg9:hover {
	opacity: 0.25;
}
.hoverman9{
	display: block;
	z-index: -1;
	position: relative;	
	top: -55%;
}
.upimg9:hover .hoverman{
	z-index: 7;
	position: relative;
	font-size: 40px;
}
.dcard9{
	display: flex;
	text-align: center;
	height: 250px;
	flex-direction: column;
}
.downimg9{
	border-radius: 48%;
	height: 180px;
	width: 180px;
}
.mot10{
	
	padding-top: 5%;
	color: #5d5d5d;
	font-size: 200%;
}



@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofIOOaBXso.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofIMeaBXso.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofIO-aBXso.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofIOOaBXso.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofIMeaBXso.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofIO-aBXso.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/nunito/v26/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  button {
    background-color: rgb(180, 180, 180);
    border: none;
    border-radius: 14px;
    padding: 7px 17px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #bbb;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
	
}

.dropdown a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.83);
    padding: 16px 28px;
    font-size: 22px;
    display: inline-block;
}

.dropdown a:hover {
    background: #ff7800;
    color: black;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.175);
}

.dropdown .dropdown-menu.show {
    display: block;
}

.dropdown .dropdown-menu a {
    display: block;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}


.commtext{
	font-family: 'Nunito';
	font-size: 25px;
	font-weight: bold;
}

.hoverman{
	font-family: 'Nunito';
	font-size: 25px;
	font-weight: bold;
}
.top{
	font-weight: bold;
}


.card {
    background-color: #3c3c3c;
    border-color: #2d2d2d;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}