body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-toggle {
    font-size: 30px;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333; /* Updated background color */
    color: #fff; /* Updated text color */
    width: 100%;
}

.footer a {
    color: #ccc; /* Set the color of the links */
}


@media screen and (max-width: 600px) {
    .sidenav a {
        padding: 15px;
        text-align: center;
    }

    .container {
        padding-top: 80px;
    }
}

.navbar{
    position: fixed;
	font-family:"Comic Sans MS";
}
.nav-item:hover, .nav-link:hover {
     transition: all 0.2s;
     color: #fff;
     font-size: 1.1rem;
}


svg:hover{
    color: #fff;
    font-size: 1.5rem;
}
